
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 10%;

}

.logo {
    background-color: #1F2937;
    margin-right: auto;
    font-size: 18px;
    padding: 5px 10%;
    color: #edf0f1;
    width: auto;
    height: 20px;
}

li, a, button {
    background-color: #1F2937;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;

}

.nav__links {
    background-color: #1F2937;
}

.nav__links li {
    background-color: #1F2937;
    size: 18px;
    display: inline-block;
    padding: 0px 20px;


}
        /*Header ends*/




        
        
        h1, p {
            color: #E5E7EB;
            margin-left: 100px;
            margin-right: 100px;
            padding-top: 2em;
            

        }
        
        
.flex-container {
    flex-direction: row;
    background:#1F2937;
    justify-content: space-evenly;
    height: 400px;
    border-top: 200px;
    
}

.tile {

    height: 100px;
    width: 200px;
}



button {
    padding: 0.6em 2em;
    border-radius: 50px;
    color: white;
    background-color: #3882F6;
    font-size: 1.1em;
    border: 0;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 90px;
    
    
}