
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px;


}

.logo {
    background-color: #1F2937;
    font-size: 18px;
    
    padding: 5px 10%;
    color: #edf0f1;
    width: auto;
    height: 20px;
}

li, a, button {
    background-color: #1F2937;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;

}

.nav__links {
    background-color: #1F2937;
}

.nav__links li {
    background-color: #1F2937;
    size: 18px;
    display: inline-block;
    padding: 0px 20px;


}
        /*Header ends*/




        
        
        h1 {
            color: #E5E7EB;
            margin-left: 100px;
            padding-top: 2em;
            
        }
        .f1sub {
            color: #E5E7EB;
            margin-left: 100px;
            padding-top: 2em;
            width: 60%;
            
        }

        .f2sub1 {
            align-items: center;
            justify-content: center;
            padding: 1em;
        }
        .f2sub2 {
            align-items: center;
            justify-content: center;
            padding: 1em;
        }
        .f2sub3 {
            align-items: center;
            justify-content: center;
            padding: 1em;
        }
        .f2sub4 {
            align-items: center;
            justify-content: center;
            padding: 1em;
            text-align: left;
        }

        #f3sub1 {
            align-items: center;
            justify-content: center;
            text-align: left;
            padding: 100px;
            padding-left: 700px;
            padding-right: 700px;
            padding-bottom: 10px;
        }

        #f3sub2 {
            padding-right: 700px;
            align-items: flex-start;
                        
        }

h3 {
    text-align: end;

}


        h2 {
            padding: 1.5em;
            text-align: center;
            align-items: center;
        }
        
.flex-container {
    display: flex;
    align-items: center;
    background:#1F2937;
    justify-content: center;
    height: 350px;
    
        
}

.flex-container-two {
    display: flex;
    align-items:center;
    background: white;
    justify-content: space-between;
    height: 350px;
        
}

.flex-container div {
    align-items: center;
    justify-content: space-between;
    
}

.flex-container-two div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    padding: 10px;
}

.vec1 {
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
    
}

.vec2 {
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
}

.vec3 {
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
}

.vec4 {
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
}

#sub1 {
    align-items: center;
    justify-content: center;
}


.tile {

    height: auto;
    width: 60%;
}

.flex-container-three {
    background-color: #E5E7EB;
    height: 350px;
}

.flex-container-four {
    display: flex;
    align-items:center;
    background: white;
    justify-content: center;
    height: 350px;
}

.cta-box {

    align-items: center;
    justify-content: center;
    background: #3882F6;
    height: 100px;
    width: 800px;
    border-radius: 6px;
    

}

#cta1 {
    color: white;
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1em;

}

#cta2 {
    color: white;
    text-align: left;
    padding-left: 1.2em;


}

#ctabutton {
    float: right;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 5px;
    
}

button {
    padding: 0.6em 2em;
    border-radius: 50px;
    color: white;
    background-color: #3882F6;
    font-size: 1.1em;
    border: 0;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 90px;
    
    
}

#footer {
    padding-top: 1em;
    font-weight: 100;
    color:white;
    text-align: center;
    background-color: #1F2937;
    height: 60px;
}